<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTS Loot</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    


<body>
    
    
<div class = "grid">
    
    
<!--Header-->
<div class="header">
    <!-- Add independent logo here -->
</div>


<!--Fixed position top navigation bar-->
<div class="topnav">
    <a href="#">HOME</a>
    <a href="#">MY PRIZES</a>
    <a href="#">FAQ</a>
    <a href="#">LOGIN</a>
</div>


<!-- Description Text -->
<div class="desc">
<button>SPIN</button>
</div>
   
<!-- Spinning game -->
<div class="spin">
    
</div>
   
   
    
<!--Footer section-->
<div class="footer">
<h3>Footer Placeholder</h3>
</div>    
    
    
    
    
    
    
 <!-- End grid div -->   
</div>


</body>
</html>